RewriteEngine On

# If the requested URL does not exist as a file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Append .html to the URL and serve the correct file
RewriteRule ^(.+)$ $1.html [L]